<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ STATIC_URL }}bootstrap.min.css"
        ></link>
        <style>
.hero-unit {
    background-image:     url({{ STATIC_URL }}debian.png);
    background-repeat:    no-repeat;
    background-position:  top right;
}
footer {
    margin-bottom:        20px;
    color:                #DCDCDC;
    font-size:            0.8em;
}
.license {
    margin:               5px;
}
{% block style %}
{% endblock %}
        </style>
    </head>
    <body>
      <div class = 'container' >
{% block content %}
{% endblock %}
        <div class = 'license' >
            The source to this app is browsable at
            <a href = 'https://github.com/paultag/pique' >paultag/pique</a> on
            GitHub, and cloneable with<br />
            <code>git clone git://github.com/paultag/pique.git</code>
        </div>
        <footer>
            Maintained by Paul Tagliamonte &lt;paultag@ubuntu.com&gt;
        </footer>
      </div>
    </body>
</html>
