{% extends "qview/base.html" %}

{% block style %}
body {
    background-image: url({{ STATIC_URL }}bg-{{ ticket.severity }}.png);
}
.cute {
    -webkit-border-radius:  5px;
    -moz-border-radius:     5px;
}
{% endblock %}

{% block content %}
          <div class="hero-unit" >
            <h1>
              {% if ticket.package %}
                  {{ ticket.package }}
              {% else %}
                  Ticket #{{ ticket.bugno }}
              {% endif %}
              <small>({{ ticket.severity }})</small>
            </h1>
            <br />
            <p>
              {% if ticket.descr %}
                  {{ ticket.descr }}
              {% else %}
                  {{ ticket.subject }}
              {% endif %}
            </p>
            <p><a href = '{% url home %}' >Back to the Queue</a></p>
            <p>
                {% for tag in tags %}
                    <span class="badge badge-info">{{ tag.name }}</span>
                {% endfor %}
            </p>
          </div>
          {% if ticket.severity != 'wishlist' %}
            {% if 'ITP' in strtags or 'NEW' in strtags %}
                <div class="alert alert-error">
                    <b>Warning</b>, this package is NEW, but severity is
                    not wishlist. This is not good. Please send the folowing
                    lines to the control daemon:<br /><br />
<pre>severity {{ ticket.bugno }} wishlist
# NEW packages should be wishlist.
thanks</pre>
                </div>
            {% endif %}
          {% endif %}
          {% if 'put in ITP, ITA, RC, NMU if applicable' in strtags %}
                <div class="alert alert-error">
                    <b>Warning</b>, this package has the tag
                    "put in ITP, ITA, RC, NMU if applicable", which means the
                    uploader didn't read the template. Be extra careful that
                    they're not so careless with their debian directory.
                </div>
          {% endif %}
          {% if ticket.owner %}
              <div class="alert alert-info">
                  This package is currently owned by <b>{{ ticket.owner }}</b>
              </div>
          {% endif %}
          {% if 'NEW' in strtags or 'ITP' in strtags %}
              <div class="alert alert-info">
                  This package looks to be <b>new</b>. Please double-check
                  license issues, and ensure the code doen't have nested
                  copies. Make sure it closes the right ITP, too.
              </div>
          {% endif %}
          {% if 'RC' in strtags %}
              <div class="alert alert-error">
                  This upload is <b>Release Critical</b>. Please tend to this
                  as quickly as is feasible.
              </div>
          {% endif %}
          {% if ticket.severity == 'important' %}
              <div class="alert alert-warning">
                  This package is <b>important</b>. Please pay special attention
                  to the timeframe regarding this package's upload.
              </div>
          {% endif %}
        <div class="row-fluid">
            <div class="span3 well">
              <h2>RFS Info</h2>
              <p>
                {% if ticket.package %}
                    There's a good deal of info on the
                    <a href = 'http://packages.qa.debian.org/{{ ticket.package }}' >PTS</a>,
                    as well as the original ticket on the
                    <a href = 'http://bugs.debian.org/{{ ticket.bugno }}' >BTS</a>.
                {% else %}
                 Sorry, the subject line was mightly malformated. Resolving the
                  package name is a bit hacky, so sorry about that.
                {% endif %}
              </p>
            </div>
            <div class="span4 well">
              <h2>Reporter Information</h2>
              <p>
              <img src = 'http://www.gravatar.com/avatar/{{ rhash }}?s=50&d=monsterid' alt = '' style = 'float:left;margin:10px;' >
              This RFS was filed by <a href = 'http://qa.debian.org/developer.php?login={{ ticket.reporter }}' >{{ ticket.reporter }}</a>.
              You might also be interested in their
              <a href = 'http://lintian.debian.org/full/{{ ticket.reporter }}.html' >lintian report</a>,
              <a href = 'http://qa.debian.org/wnpp.php?login={{ ticket.reporter }}' >WNPP bugs</a>,
              <a href = 'http://bugs.debian.org/{{ ticket.reporter }}' >bugs they've recieved</a>
              and <a href = 'http://bugs.debian.org/from:{{ ticket.reporter }}' >bugs they've filed</a>.
              </p>
            </div>
            <div class="span3 well">
              <h2>Reviewer Info</h2>
              <p>
              {% if ticket.owner %}
                <img src = 'http://www.gravatar.com/avatar/{{ ohash }}?s=50&d=monsterid' alt = '' style = 'float:left;margin:10px;' >
                This RFS is owned by <b>{{ ticket.owner }}</b>
              {% else %}
                This RFS is not owned by anyone. If you would like to take ownership
                of this bug (meaning you're a DD who's interested in sponsoring
                this package), send the following
                to control@bugs.debian:
<pre>owner {{ ticket.bugno }} !
thanks</pre>
              {% endif %}
              </p>
            </div>
          </div>
{% endblock %}
