{% extends "qview/base.html" %}

{% block style %}
body {
    background-image: url({{ STATIC_URL }}bg-{{ ticket.severity }}.png);
}
.cute {
    -webkit-border-radius:  5px;
    -moz-border-radius:     5px;
}
{% endblock %}

{% block content %}
          <div class="hero-unit" >
            <h1>
              {% if ticket.package %}
                  {{ ticket.package }}
              {% else %}
                  Ticket #{{ ticket.bugno }}
              {% endif %}
              <small>({{ ticket.severity }})</small>
            </h1>
            <br />
            <p>
              {% if ticket.descr %}
                  {{ ticket.descr }}
              {% else %}
                  {{ ticket.subject }}
              {% endif %}
            </p>
          </div>
        <div class="row-fluid">
            <div class="span4">
              <h2>Package Information</h2>
              <p>
                {% if ticket.package %}
                  <a href = 'http://packages.qa.debian.org/{{ ticket.package }}' >PTS</a>
                {% else %}
                  Sorry, the subject line was mightly malformated. Resolving the
                  package name is a bit hacky, so sorry about that.
                {% endif %}
              </p>
            </div>
            <div class="span4">
              <h2>Reporter Information</h2>
              <p>
              <img src = 'http://www.gravatar.com/avatar/{{ rhash }}?s=100' alt = '' style = 'float:left;margin:10px;' >
              This RFS was filed by <a href = 'http://qa.debian.org/developer.php?login={{ ticket.reporter }}' >{{ ticket.reporter }}</a>.
              You might also be interested in their
              <a href = 'http://lintian.debian.org/full/{{ ticket.reporter }}.html' >lintian report</a>,
              <a href = 'http://qa.debian.org/wnpp.php?login={{ ticket.reporter }}' >WNPP bugs</a>,
              <a href = 'http://bugs.debian.org/{{ ticket.reporter }}' >bugs they've recieved</a>
              and <a href = 'http://bugs.debian.org/from:{{ ticket.reporter }}' >bugs they've filed</a>.
              </p>
            </div>
            <div class="span4">
              <h2>Reviewer Information</h2>
              <p>
              {% if ticket.owner %}
                <img src = 'http://www.gravatar.com/avatar/{{ ohash }}?s=100' alt = '' style = 'float:left;margin:10px;' >
                This RFS is owned by <b>{{ ticket.owner }}</b>
              {% else %}
                This RFS is not owned by anyone. If you would like to take ownership
                of this bug (meaning you're a DD who's interested in sponsoring
                this package), send the following
                to control@bugs.debian:
<pre>owner {{ ticket.bugno }} !
thanks</pre>
              {% endif %}
              </p>
            </div>
          </div>
{% endblock %}
