{% extends "qview/base.html" %}

{% block style %}
.hero-unit {
    background-image:     url({{ STATIC_URL }}debian-python.png);
    background-repeat:    no-repeat;
    background-position:  top right;
}
footer {
    margin-bottom:        20px;
}
{% endblock %}

{% block content %}
<div class="hero-unit" >
    <h1>Sponsorship Queue</h1>
    <br />
    <p>
        This is "the queue" - a list of pending bugs filed in the BTS that are
        requesting sponsorship from the debian-python team. This includes the
        DPMT and the DPAT. The queue is read-only, please use this with the
        BTS for the review process.
    </p>
</div>
<div class = 'content-fluid' >
    <table class="zebra-striped">
        <thead>
            <tr>
                <th>Request Subject</th>
                <th>Requestor</th>
                <th>Owner (reviewer)</th>
            </tr>
        </thead>
        <tbody>
    {% for ticket in tickets %}
            <tr>
                <td><a href = 'http://bugs.debian.org/{{ ticket.bugno }}'
                        >{{ ticket.subject }}</a></td>
                <td>{{ ticket.reporter }}</td>
                <td>{{ ticket.owner }}</td>
            </tr>
        </tbody>
    {% endfor %}
    </table>
    <footer>
        Maintained by Paul Tagliamonte &lt;paultag@ubuntu.com&gt;
    </footer>
</div>
{% endblock %}
